body {
  font-family: Arial, sans-serif;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: center; /* Ensures the content is centered vertically */
  height: 100vh; /* Make sure the body takes the full viewport height */
  gap: 15vw;
}

.channelButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 columns */
  gap: 3vw; /* Space between buttons */
  justify-items: center; /* Centers the buttons horizontally in each grid cell */
  align-items: center; /* Centers the buttons vertically in each grid cell */
  padding: 50px;
  border: #a3a3a3 3px solid;
  border-radius: 26px;
}

.channelButtons button img {
  border-radius: 90px;
  width: 100%;
}

.channelButtons button {
  border-radius: 95px;
  padding: 0px;
  margin: 0px;
  border: solid wheat 5px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channelButtons button:hover {
  cursor: pointer;
}

#thumbnail {
  width: 960px; 
  height: 720px;
}

.thumbnailDIV {
  display: flex;
  justify-content: center;
  padding: 50px;
  border: #a3a3a3 3px solid;
  border-radius: 26px;
}