body {
    font-family: Arial, sans-serif;
    background-color: #282828;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.channelButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3vw;
}

.channelButtons button img{
  border-radius: 90px;
  width: 100%;
}

.channelButtons button{
  border-radius: 95px;
  padding: 0px;
  margin: 0px;
  border: solid wheat 5px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channelButtons button:hover{
  cursor: pointer;
}
